database/*.pem
database/#innodb_*
database/mysql
database/sys
database/performance*
database/*.00*
database/*.cnf
database/*.dblwr
database/*.index
database/ib*
database/undo_*

ESP/.pio
ESP/.vscode
ESP/lib
ESP/include
ESP/test

go_backend/*.exe
go_backend/*.sum


*.sock

grafana/data
